/* body */

body {
    margin: 0 10%;
}

/* Header */
header {
    font-family: 'Permanent Marker', cursive;
}

/* Sections */

.boxes {
    border: solid grey 2.5px;
    margin: 10px 0px;
}

h2 {
    margin-left: 10px;
    font-family: sans-serif;
}

.sub_boxes {
    margin: 10px 10px 10px 10px;
}


/* Colors */

.box-color {
    margin: 10px auto;
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 10px 0px;
}

.CoolBlue {
    background-color: #2d5d;
    color: #fff;
}
.Pink {
    background-color: #d957d9;
}

.MintGreen {
    background-color: #4fe0b0;
}

.Beige {
    background-color: #efd9ca;
}

/* Fonts */

.box-font {
    display: inline-block;
    margin: 5px 15% 5px 0px;
}

.label {
    text-decoration: underline;
    font-size: 20px;
}

.SourceCodePro {
    font-family: 'Source Code Pro', monospace;
}

.NunitoSans {
    font-family: 'Nunito Sans', sans-serif;
}

.Poppins {
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* Text Styles */

#h2_subheading {
    margin-left: 0px;
}

.styles {
    font-family: 'Nunito Sans', sans-serif;
}

#h1_heading {
    font-weight: 700;
    font-size: 26px;
}

#h2_subheading {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

#p_text {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}